<a href="https://colab.research.google.com/github/ViniSpeck/DS/blob/main/DS_02_exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introductory Study

We'll start with a **exploratory analysis** on Airbnb data for Rio de Janeiro.

Data will be obtained from the InsideAirbnb website - http://insideairbnb.com/get-the-data/

In [62]:
#Pandas: Numerical tables and time series analysis and manipulation
import pandas as pd

#Matplotlib: Visualize data through graphics
import matplotlib.pyplot as plt

#Seaborn: Better graphics
import seaborn as sns

#SciPy: NumPy with extra scientific utility
from scipy import stats

#Determines graphics will be shown in the cell after the code
%matplotlib inline

#Load Airbnb's dataset
df=pd.read_csv("http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2022-06-20/visualisations/listings.csv")

In [ ]:
#Show DataFrame
df.head(15)

## Getting to know the DataFrame's attributes

Verifying how many rows and columns exist in the DataFrame with ***shape***

In [23]:
print("Inputs (Rows):", df.shape[0])
print("Variables (Columns):", df.shape[1])

Inputs (Rows): 24881
Variables (Columns): 18

Show each column's data type with ***dtypes***

(***display()***=different version of ***print()***)

In [ ]:
display(df.dtypes)

Display all neighborhoods present in the DataFrame

***unique()*** - Keeps one of each value, transforms into array

***drop_duplicates()*** - Keeps one of each value, stays as DataFrame

***sort_values()*** - Order neighborhoods alphabetically

***reset_index(drop=True)*** - Recreates index for the new order and drops former indexes column

In [49]:
df['neighbourhood'].drop_duplicates().sort_values().reset_index(drop=True)

0               Abolição
1                  Acari
2      Alto da Boa Vista
3               Anchieta
4                Andaraí
             ...
148         Vila Militar
149       Vila Valqueire
150        Vila da Penha
151                Zumbi
152           Água Santa
Name: neighbourhood, Length: 153, dtype: object

Aggregating values

In [ ]:
print("Number of rows (total including NaNs):",df['id'].count())
print("Price sum:",df['price'].sum())
print("Price average:",df['price'].mean())
print("Lowest price:",df['price'].min())
print("Highest price:",df['price'].max())
print("Qty of null names:", df['name'].isnull().sum())

Calculating the % of null(NaN) rows in DataFrame

*(sum of null values/number of rows)* * *100* 

***sort_values(ascending=False)*** - Sort values descending

In [74]:
((df.isnull().sum()/df.shape[0])*100).sort_values(ascending=False)

license                           100.000000
neighbourhood_group               100.000000
reviews_per_month                  30.818697
last_review                        30.818697
host_name                           0.470238
name                                0.084402
number_of_reviews                   0.000000
number_of_reviews_ltm               0.000000
availability_365                    0.000000
calculated_host_listings_count      0.000000
id                                  0.000000
minimum_nights                      0.000000
room_type                           0.000000
longitude                           0.000000
latitude                            0.000000
neighbourhood                       0.000000
host_id                             0.000000
price                               0.000000
dtype: float64

**Trim Mean** - Average which eliminates outliers (upper and lower percentile)

In [85]:
stats.trim_mean(df['price'], 0.1)

389.5202210499874

Creating Histograms (no criteria yet)

In [ ]:
df.hist(bins=2,figsize=(20,30))